<md-sidenav-container fullscreen>
  <md-sidenav #sidenav class="example-sidenav">
    <md-list>
      <md-list-item>
        <button id="closeMenu" md-button (click)="sidenav.close()">
          <md-icon>close</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <h3>IoTwithChem v2</h3>
      </md-list-item>
      <md-list-item><a md-button routerLink="/research">Research</a></md-list-item>
      <md-list-item><a md-button routerLink="/reports">Reports</a></md-list-item>
      <!--<md-list-item><a md-button routerLink="/login">Login</a></md-list-item>-->
      <md-list-item><a class="feedback" md-button routerLink="/feedback">Leave a feedback</a></md-list-item>
    </md-list>

  </md-sidenav>

  <div>
    <button md-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
