<mat-card class="feedbackcard">

  <mat-card-title>
    <h1>Feedback</h1>
  </mat-card-title>
  <mat-card-content>
    <p id="response">{{response}}</p>
    <mat-input-container>
      <input matInput id="fromField" [disabled]=true placeholder="From" [(ngModel)]="from">
    </mat-input-container>
    <br>
    <mat-input-container>
       <textarea id="messageBox" matInput class="textarea"
                 rows="15" cols="100" placeholder="Message" [(ngModel)]="message"></textarea>
    </mat-input-container>
  </mat-card-content>
  <mat-card-actions>
    <button id="sendButton" mat-raised-button (click)="sendFeedback()">Send</button>
  </mat-card-actions>
</mat-card>

