<md-sidenav-container fullscreen>
  <md-sidenav #sidenav class="sidenav-menu">
    <md-list>
      <md-list-item>
        <button id="closeMenu" md-button (click)="sidenav.close()">
          <md-icon>close</md-icon>
        </button>
      </md-list-item>
      <md-list-item>
        <h3>IoTwithChem v2</h3>
      </md-list-item>
      <md-list-item *ngIf="loggedIn"><img class="profilepic" src="{{user.picUrl}}" alt="profilepic"></md-list-item>
      <md-list-item *ngIf="loggedIn"><a md-button> {{user.name}} </a></md-list-item>
      <md-list-item *ngIf="loggedIn; then logout else login"></md-list-item>
      <ng-template #login>
        <md-list-item><a md-button routerLink="/login" (click)="sidenav.close()">Login </a></md-list-item>
      </ng-template>
      <ng-template #logout>
        <md-list-item><a md-button href="https://iotwithchem2.herokuapp.com/logout">Logout</a></md-list-item>
      </ng-template>
      <md-list-item><a md-button routerLink="/experiment" (click)="sidenav.close()">Experiment</a></md-list-item>
      <md-list-item><a md-button routerLink="/calibration" (click)="sidenav.close()">Calibration</a></md-list-item>
      <md-list-item><a md-button routerLink="/reports" (click)="sidenav.close()">Reports</a></md-list-item>
      <md-list-item><a class="feedback" md-button routerLink="/feedback" (click)="sidenav.close()">Leave a feedback</a>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <div>
    <button md-button *ngIf="loggedIn" (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
