
    .callow {
        background-color: #dd0808;
        border-style: none;
        padding: 10px 10px;
    }
    .calmid {
        background-color: #fffa0a;
        border-style: none;
        padding: 10px 10px;
    }
    .calhigh {
        background-color: #260aff;
        border-style: none;
        padding: 10px 10px;
    }