
<div id="calibration" class="neat-container margin-top-80">
<div class="sensor-block">
    <br>
<table class="sensor-table">
    <tr data-ng-controller="calibrationController">
        <td>Calibrate </td>
        <td><input type="button" class="callow" ng-click="calibrationlow()"  value="calibrationlow" /><td>
        <td><input type="button" class="calmid" ng-click="calibrationmid()"  value="calibrationmid" /><td>
        <td><input type="button" class="calhigh" ng-click="calibrationhigh()"  value="calibrationhigh" /><td>
    <tr>
    <tr data-ng-controller="calibrationController">
        <td>Ph: </td>
        <td class="calibration-value">{{ phValue }} pH<td>
    <tr>
    <tr data-ng-controller="calibrationController">
		<td>Last pH measurement: </td>
		<td>{{ phDate | date: 'medium' }}</td>			
    </tr>
</table>
</div>
</div>