<md-list>
  <md-list-item>
    <label>Job end date: </label>
  </md-list-item>

    <p-calendar [(ngModel)]="jobEndDate" dateformat="@" [minDate]="minJobEndDate"
                showTime="true"></p-calendar>


  <md-input-container>
        <textarea mdInput
                  rows="15" cols="100" placeholder="Add a description" [(ngModel)]="jobDescription"></textarea>
  </md-input-container>

  <md-list-item>
    <button type="button" md-raised-button
            (click)="dialogRef.close([jobEndDate, jobDescription])">OK
    </button>
    <button type="button" md-button
            (click)="dialogRef.close([null,null])">Cancel
    </button>
  </md-list-item>
</md-list>
