.sensor-card {
  width: 400px;
  margin: 10px 0;
}

.mat-card-actions {
  bottom: 5%;
  right: 5%;
  position: absolute;
}

p {
  color: #dc655e;
}

.sensors-container {
  display: flex;
  justify-content: center;
}

@media screen and (max-aspect-ratio: 1/1) {

  .sensors-container {
    display: block;
  }

  .sensor-card {
    width: 90%;
  }
}

.counter {
  font-size: 14px !important;
  color: #dc655e;
}

md-slide-toggle {
  float: right;
}

table {
  margin: auto;
}

.synctoggle {
  margin-top: 10px;
  margin-right: 10px;
}

.devicestatus {
  float: right;
}
