<mat-list>
  <mat-list-item>
    <label>Job end date: </label>
  </mat-list-item>

  <p-calendar [(ngModel)]="jobEndDate" dateformat="@" [minDate]="minJobEndDate"
              showTime="true"></p-calendar>


  <mat-input-container>
        <textarea matInput
                  rows="15" cols="100" placeholder="Add a description" [(ngModel)]="jobDescription"></textarea>
  </mat-input-container>

  <mat-list-item>
    <button type="button" mat-raised-button
            (click)="dialogRef.close([jobEndDate, jobDescription])">OK
    </button>
    <button type="button" mat-button
            (click)="dialogRef.close([null,null])">Cancel
    </button>
  </mat-list-item>
</mat-list>
