<div class="container">
  <div class="card card-container">

    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
    <p>{{message}}</p>
    <md-list>
      <md-list-item>
        <button class="loginBtn loginBtn--facebook" (click)="login()">
          Login with Facebook
        </button>
      </md-list-item>

      <md-list-item>
        <button class="loginBtn loginBtn--google">
          Login with Google
        </button>
      </md-list-item>
    </md-list>
  </div><!-- /card-container -->
</div><!-- /container -->
