.calibrationcard {
  margin: 5% auto;
}

@media screen and (min-aspect-ratio: 1/1) {
  .calibrationcard {
    width: 50%;
  }
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

.level {
  margin-left: 40px;
  margin-right: 10px;
}

.spinner {
  margin: auto;
}
