<div class="container">
  <mat-card class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
    <p>{{message}}</p>

    <a mat-button id="loginButton" class="loginBtn loginBtn--facebook"
       href="https://iotwithchemqt.herokuapp.com/login/facebook"> 
    <!--<a mat-button id="loginButton" class="loginBtn loginBtn--facebook"
       href="http://localhost:8081/login/facebook"> -->
      Login with Facebook
    </a>
  </mat-card>
</div>
