<md-list>
  <md-list-item>
    <md-input-container>
      <input mdInput placeholder="Interval:" [(ngModel)]="interval">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-input-container>
      <input mdInput placeholder="Value:" [(ngModel)]="value">
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <button type="button" md-raised-button
            (click)="dialogRef.close([interval,value])">OK
    </button>
    <button type="button" md-button
            (click)="dialogRef.close(null)">Cancel
    </button>
  </md-list-item>
</md-list>
