html, body {
  height: 100%;
}

edit-btn {
  margin: auto;
}

.example-card {
  width: 400px;
  margin: 10px auto 10px auto;
}

p {
  color: #dc655e;
}

.sensors-container {
  display: flex;
}

@media screen and (max-aspect-ratio: 16/10) {

  .sensors-container {
    display: block;
  }

  .example-card {
    width: 90%;
    margin: 10px auto 10px auto;

  }
}

.counter {
  font-size: 14px !important;
  color: #dc655e;
}

md-slide-toggle {
  float: right;
}

table {
  margin: auto;
}

.synctoggle {
  margin-right: 10px;
}

.devicestatus {
  float: right;
}
